.currency-table {
  background-color: #ddd;
  width: 100%;
  border-collapse: collapse;
}

.currency-table th,
.currency-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.currency-table th {
  background-color: #eee;
}
.highlight {
  background-color: yellow;
}
